@model ICollection<CookBook.BL.Models.RecipeListModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="container">
        <div class="root-grid">
            <a asp-route="RecipeNew" class="button section-add-new-recipe" >Create New</a>
            <div class="section-recipe-list">
                <table>
                    <thead> 
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Duration</th>
                        <th>See Detail</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Duration)
                            </td>
                            <td >
                                <a asp-action="Detail" asp-route-id="@item.Id" class="button table-button" >Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id" class="button tabble-button delete-button">Delete</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

